.hero-section {
	height: 100vh;
	width: 100vw;
	background-image: url('../../assets/Images/hero-section-bg.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #03045e;
	box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.4);
}

.hero-section::before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 11.5rem;
	background-image: url('../../assets/Images/wave.svg');
	background-repeat: no-repeat;
	background-size: cover;
}
