@font-face {
	font-family: 'IRANsans';
	src: url('IRANSansWeb.woff');
}
@font-face {
	font-family: 'IRANsans-medium';
	src: url('IRANSansWeb_Medium.woff');
}
@font-face {
	font-family: 'IRANsans-Bold';
	src: url('IRANSansWeb_Bold.woff');
}
