.nav-item-color {
	color: white !important;
}
.nav-item-color:hover {
	color: #1a759f !important;
}
.header-container {
	background-color: transparent;
	position: absolute;
	width: 100%;
	height: 80px;
	display: flex;
	align-items: center;
}
